<!DOCTYPE html>

<!-- data-ng-app (data-* is for HTML5 validation) is a directive to auto-bootstrap an angular application -->
<!-- You can get this scope in an own file e.g. main|app.js -->
 <html data-ng-app="positioning_service_client_app">
   <head>
     <base href="./">
     <title>AngularJS</title>
       <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      
    
   </head>
   <body>
     
     <h1 class="jumbotrone">Doodles world</h1>
     <hr />

<!--
     <div ng-controller="DoodlesController as doodles">
       <button data-ng-click="doodles.getAllDoodles()">Get Doodles</button>
       
       <hr />
-->

      
       <div ng-controller="MapController as mapctrl">
         <map center="56.66830, 16.35315" zoom="8" class="map" on-click="mapctrl.checkPosition()"></map>
       </div>


       <!-- <a class="navbar-brand" data-ng-href="doodles">All Doodles</a> -->


         <!-- Includes a shared view (menu) -->
<!--        <div data-ng-include src="'./partials/shared/menu.html'"> Should be replaced?</div>
       <hr />
 -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" data-ng-href="./">Home</a>
            <a class="navbar-brand" data-ng-href="doodles">All doodles</a>
          </div>
        </div>
      </nav>

        <div data-ng-view>This should be replaced</div>       
<!--
       <ul>
         <li>Name: {{ players.currentPlayer.name }}</li>
         <li>Age: {{ players.currentPlayer.age }}</li>
       </ul>
     </div>


     <div ng-controller="LoginController as users">

      <input data-ng-model="users.idvalue"  />
       <button data-ng-click="users.getUser()">Login user</button>
       
       <hr />

     </div>

-->

     




       
       <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> 
       <!-- Latest compiled and minified JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>
     
       <script src="app.js"></script>
       <!-- Add the controller -->
       <!-- <script src="./controllers/DoodlesController.js"></script> -->
       <!-- <script src="./controllers/LoginController.js"></script> -->
       <script src="./controllers/MapController.js"></script> 

       <script src="./ng-map.min.js"></script>
        <script src="http://maps.google.com/maps/api/js"></script>


     
   </body>
</html>