ul {
  list-style-type: none;
}

.doodle_card {
	border: 1px solid lightgray;
	margin-top: 0.5em;
	padding: 10px;
	width: 300px;
	min-height: 100px;
	position: relative;
	margin-left: 35%;
	margin-top: 20px;

	-webkit-box-shadow: 0 5px 10px -6px #777;
	   -moz-box-shadow: 0 5px 10px -6px #777;
	        box-shadow: 0 5px 10px -6px #777;
}

.doodle_card:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.doodle_card_username {
	float:left;
}

.doodle_card_tag_name {
	position:absolute;
	bottom: 10px;
	right: 10px;

}

.doodle_card_text {
	position: absolute;
	bottom: 40px;
	left: 80px;
}

.filter_boxes {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

#search_box {
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

#search_button {

}

.cardTools {
	margin-left: auto;
	margin-right: auto;
}

.remove_icon {
	float:right;
}

.footer p {
	text-align: center;
	padding: 40px;
}

.footer {
	margin-top: 40px;
	background-color: lightgray;
	/*height: 30px;*/
}