
<!-- <div ng-controller="SearchFormController"> -->
	<!-- 
		<input type="username" ng-model="registrationCred.passwordConfirm">
		<input type="email" ng-model="registrationCred.email">
		<input type="password" ng-model="registrationCred.password">
		<input type="password" ng-model="registrationCred.passwordConfirm">

		<input type="submit" ng-click="send(registrationCred)" value="Logga in!" /> <br>
	 -->

	<form novalidate>
		<div class="container-fluid">
		    <section class="container">
				<div class="container-page">				
					<div class="col-md-6">
						<div class="form-group col-lg-12">		
							<strong>{{userMessage}}</strong>				
							<h3>Skapa konto</h3>
							<p>Skapa ett konto här!</p>
						</div>

						<div class="form-group col-lg-12">
							<label>Användarnamn</label>
							<input type="" name="" class="form-control" id="" value="" ng-model="registrationCred.username">
						</div>

						<div class="form-group col-lg-12">
							<label>E-post</label>
							<input type="" name="" class="form-control" id="" value="" ng-model="registrationCred.email">
						</div>
						
						<div class="form-group col-lg-6">
							<label>Lösenord</label>
							<input type="password" name="" class="form-control" id="" value="" ng-model="registrationCred.password">
						</div>
						
						<div class="form-group col-lg-6">
							<label>Upprepa lösenord</label>
							<input type="password" name="" class="form-control" id="" value="" ng-model="registrationCred.passwordConfirm">
						</div>		
						
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary" ng-click="registerUser(registrationCred)">Registrera dig!</button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</form>